In [21]:
'''
name: The English name of the Pokemon
japanese_name: The Original Japanese name of the Pokemon
pokedex_number: The entry number of the Pokemon in the National Pokedex
percentage_male: The percentage of the species that are male. Blank if the Pokemon is genderless.
type1: The Primary Type of the Pokemon
type2: The Secondary Type of the Pokemon
classification: The Classification of the Pokemon as described by the Sun and Moon Pokedex
height_m: Height of the Pokemon in metres
weight_kg: The Weight of the Pokemon in kilograms
capture_rate: Capture Rate of the Pokemon
baseeggsteps: The number of steps required to hatch an egg of the Pokemon
abilities: A stringified list of abilities that the Pokemon is capable of having
experience_growth: The Experience Growth of the Pokemon
base_happiness: Base Happiness of the Pokemon
against_?: Eighteen features that denote the amount of damage taken against an attack of a particular type
hp: The Base HP of the Pokemon
attack: The Base Attack of the Pokemon
defense: The Base Defense of the Pokemon
sp_attack: The Base Special Attack of the Pokemon
sp_defense: The Base Special Defense of the Pokemon
speed: The Base Speed of the Pokemon
generation: The numbered generation which the Pokemon was first introduced
is_legendary: Denotes if the Pokemon is legendary.
'''

'\nname: The English name of the Pokemon\njapanese_name: The Original Japanese name of the Pokemon\npokedex_number: The entry number of the Pokemon in the National Pokedex\npercentage_male: The percentage of the species that are male. Blank if the Pokemon is genderless.\ntype1: The Primary Type of the Pokemon\ntype2: The Secondary Type of the Pokemon\nclassification: The Classification of the Pokemon as described by the Sun and Moon Pokedex\nheight_m: Height of the Pokemon in metres\nweight_kg: The Weight of the Pokemon in kilograms\ncapture_rate: Capture Rate of the Pokemon\nbaseeggsteps: The number of steps required to hatch an egg of the Pokemon\nabilities: A stringified list of abilities that the Pokemon is capable of having\nexperience_growth: The Experience Growth of the Pokemon\nbase_happiness: Base Happiness of the Pokemon\nagainst_?: Eighteen features that denote the amount of damage taken against an attack of a particular type\nhp: The Base HP of the Pokemon\nattack: The Base Attack of the Pokemon\ndefense: The Base Defense of the Pokemon\nsp_attack: The Base Special Attack of the Pokemon\nsp_defense: The Base Special Defense of the Pokemon\nspeed: The Base Speed of the Pokemon\ngeneration: The numbered generation which the Pokemon was first introduced\nis_legendary: Denotes if the Pokemon is legendary.\n'

In [215]:
# import pandas as pd 
import numpy as np 

import matplotlib.pyplot as plt 
import seaborn as sns
import pandas as pd
import os

# Modeling
from sklearn.model_selection import train_test_split
import sklearn.preprocessing
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import GradientBoostingClassifier

from sklearn.metrics import accuracy_score,recall_score,precision_score,f1_score
from sklearn.metrics import roc_curve,roc_auc_score
from sklearn.metrics import confusion_matrix,ConfusionMatrixDisplay
from sklearn.model_selection import cross_val_score,RandomizedSearchCV,GridSearchCV 

from scipy import stats
import re

from pathlib import Path  

import warnings
warnings.filterwarnings("ignore")

In [8]:
import pandas as pd
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

# Goal:

* Find out if we can classify pokemon by certain features to find legendary

# Acquire

* The data was pulled fromt the Sequel Ace database, through an acquire file function.
* Data was acquire in December and was prepped and cleaned.
* Dataframe is built of 31 columns and 7010 rows after being scrubbed. ( 7032, 20 before scrub and cleaning)
* Each observation is a current or past customer of the company Telco
* Each column is a feature that will correspond to the customer. Read the ReadMe file in github for descriptions.

In [239]:
df = pd.read_csv('pokemon.csv')

# prepare

In [92]:
df

                       abilities  against_bug  against_dark  against_dragon  against_electric  against_fairy  against_fight  against_fire  against_flying  against_ghost  against_grass  against_ground  against_ice  against_normal  against_poison  against_psychic  against_rock  against_steel  against_water  attack  base_egg_steps  base_happiness  base_total capture_rate        classfication  defense  experience_growth  height_m   hp     japanese_name        name  percentage_male  pokedex_number  sp_attack  sp_defense  speed    type1   type2  weight_kg  generation  is_legendary
0    ['Overgrow', 'Chlorophyll']         1.00           1.0             1.0               0.5            0.5            0.5           2.0             2.0            1.0           0.25             1.0          2.0             1.0             1.0              2.0           1.0            1.0            0.5      49            5120              70         318           45         Seed Pokémon       49            1059860       0.7   45  Fushigidaneフシギダネ   Bulbasaur             88.1               1         65          65     45    grass  poison        6.9           1             0
1    ['Overgrow', 'Chlorophyll']         1.00           1.0             1.0               0.5            0.5            0.5           2.0             2.0            1.0           0.25             1.0          2.0             1.0             1.0              2.0           1.0            1.0            0.5      62            5120              70         405           45         Seed Pokémon       63            1059860       1.0   60   Fushigisouフシギソウ     Ivysaur             88.1               2         80          80     60    grass  poison       13.0           1             0
2    ['Overgrow', 'Chlorophyll']         1.00           1.0             1.0               0.5            0.5            0.5           2.0             2.0            1.0           0.25             1.0          2.0             1.0             1.0              2.0           1.0            1.0            0.5     100            5120              70         625           45         Seed Pokémon      123            1059860       2.0   80  Fushigibanaフシギバナ    Venusaur             88.1               3        122         120     80    grass  poison      100.0           1             0
3       ['Blaze', 'Solar Power']         0.50           1.0             1.0               1.0            0.5            1.0           0.5             1.0            1.0           0.50             2.0          0.5             1.0             1.0              1.0           2.0            0.5            2.0      52            5120              70         309           45       Lizard Pokémon       43            1059860       0.6   39      Hitokageヒトカゲ  Charmander             88.1               4         60          50     65     fire     NaN        8.5           1             0
4       ['Blaze', 'Solar Power']         0.50           1.0             1.0               1.0            0.5            1.0           0.5             1.0            1.0           0.50             2.0          0.5             1.0             1.0              1.0           2.0            0.5            2.0      64            5120              70         405           45        Flame Pokémon       58            1059860       1.1   58       Lizardoリザード  Charmeleon             88.1               5         80          65     80     fire     NaN       19.0           1             0
..                           ...          ...           ...             ...               ...            ...            ...           ...             ...            ...            ...             ...          ...             ...             ...              ...           ...            ...            ...     ...             ...             ...         ...          ...                  ...      ...                ...       ...  ...               ...         ...              ...             ...        ...         ...    ...      ...     ...        ...         ...           ...
796              ['Beast Boost']         0.25           1.0             0.5               2.0            0.5            1.0           2.0             0.5            1.0           0.25             0.0          1.0             0.5             0.0              0.5           1.0            0.5            1.0     101           30720               0         570           25       Launch Pokémon      103            1250000       9.2   97    Tekkaguyaテッカグヤ  Celesteela              NaN             797        107         101     61    steel  flying      999.9           7             1
797              ['Beast Boost']         1.00           1.0             0.5               0.5            0.5            2.0           4.0             1.0            1.0           0.25             1.0          1.0             0.5             0.0              0.5           0.5            0.5            0.5     181           30720               0         570          255  Drawn Sword Pokémon      131            1250000       0.3   59   Kamiturugiカミツルギ     Kartana              NaN             798         59          31    109    grass   steel        0.1           7             1
798              ['Beast Boost']         2.00           0.5             2.0               0.5            4.0            2.0           0.5             1.0            0.5           0.50             1.0          2.0             1.0             1.0              0.0           1.0            1.0            0.5     101           30720               0         570           15    Junkivore Pokémon       53            1250000       5.5  223   Akuzikingアクジキング    Guzzlord              NaN             799         97          53     43     dark  dragon      888.0           7             1
799              ['Prism Armor']         2.00           2.0             1.0               1.0            1.0            0.5           1.0             1.0            2.0           1.00             1.0          1.0             1.0             1.0              0.5           1.0            1.0            1.0     107           30720               0         600            3        Prism Pokémon      101            1250000       2.4   97     Necrozmaネクロズマ    Necrozma              NaN             800        127          89     79  psychic     NaN      230.0           7             1
800               ['Soul-Heart']         0.25           0.5             0.0               1.0            0.5            1.0           2.0             0.5            1.0           0.50             2.0          0.5             0.5             0.0              0.5           0.5            1.0            1.0      95           30720               0         600            3   Artificial Pokémon      115            1250000       1.0   80      Magearnaマギアナ    Magearna              NaN             801        130         115     65    steel   fairy       80.5           7             1

[801 rows x 41 columns]

In [130]:
for col in df:
    print(col)
    print(df[col].isna().sum())
    print('\n')

abilities
0


against_bug
0


against_dark
0


against_dragon
0


against_electric
0


against_fairy
0


against_fight
0


against_fire
0


against_flying
0


against_ghost
0


against_grass
0


against_ground
0


against_ice
0


against_normal
0


against_poison
0


against_psychic
0


against_rock
0


against_steel
0


against_water
0


attack
0


base_egg_steps
0


base_happiness
0


base_total
0


capture_rate
0


classfication
0


defense
0


experience_growth
0


hp
0


japanese_name
0


name
0


pokedex_number
0


sp_attack
0


sp_defense
0


speed
0


type1
0


weight_kg
0


generation
0


is_legendary
0

* Type_2 = 384 nulls
* weight_kg = 20 nulls
* perc_male = 98 null
* height_m = 20 null

In [103]:
df.height_m.mean()

1.163892445582586

In [240]:
#genderless pokemons can be assigned '-1'
df['percentage_male'].fillna(np.int(-1), inplace=True)

In [241]:
df['weight_kg'].fillna(df['weight_kg'].mean(),inplace = True)

In [242]:
#Replace the missing value with 0.
df['height_m'].fillna(np.int(0), inplace=True)

In [243]:
df = df.drop(columns=['type2'])

In [244]:
df.isnull().values.any()

False

In [200]:
df.dtypes

abilities             object
against_bug          float64
against_dark         float64
against_dragon       float64
against_electric     float64
against_fairy        float64
against_fight        float64
against_fire         float64
against_flying       float64
against_ghost        float64
against_grass        float64
against_ground       float64
against_ice          float64
against_normal       float64
against_poison       float64
against_psychic      float64
against_rock         float64
against_steel        float64
against_water        float64
attack                 int64
base_egg_steps         int64
base_happiness         int64
base_total             int64
capture_rate          object
classfication         object
defense                int64
experience_growth      int64
height_m             float64
hp                     int64
japanese_name         object
name                  object
percentage_male      float64
pokedex_number         int64
sp_attack              int64
sp_defense             int64
speed                  int64
type1                 object
weight_kg            float64
generation             int64
is_legendary           int64
dtype: object

In [245]:
for label,content in df.items():
    if pd.api.types.is_float_dtype(content):
        df[label] = df[label].astype('int')

In [202]:
df.dtypes

abilities            object
against_bug           int64
against_dark          int64
against_dragon        int64
against_electric      int64
against_fairy         int64
against_fight         int64
against_fire          int64
against_flying        int64
against_ghost         int64
against_grass         int64
against_ground        int64
against_ice           int64
against_normal        int64
against_poison        int64
against_psychic       int64
against_rock          int64
against_steel         int64
against_water         int64
attack                int64
base_egg_steps        int64
base_happiness        int64
base_total            int64
capture_rate         object
classfication        object
defense               int64
experience_growth     int64
height_m              int64
hp                    int64
japanese_name        object
name                 object
percentage_male       int64
pokedex_number        int64
sp_attack             int64
sp_defense            int64
speed                 int64
type1                object
weight_kg             int64
generation            int64
is_legendary          int64
dtype: object

In [246]:
for label,content in df.items():
    if not pd.api.types.is_numeric_dtype(content):
        df[label] = df[label].astype('category')

In [206]:
df.dtypes

abilities            category
against_bug             int64
against_dark            int64
against_dragon          int64
against_electric        int64
against_fairy           int64
against_fight           int64
against_fire            int64
against_flying          int64
against_ghost           int64
against_grass           int64
against_ground          int64
against_ice             int64
against_normal          int64
against_poison          int64
against_psychic         int64
against_rock            int64
against_steel           int64
against_water           int64
attack                  int64
base_egg_steps          int64
base_happiness          int64
base_total              int64
capture_rate         category
classfication        category
defense                 int64
experience_growth       int64
height_m                int64
hp                      int64
japanese_name        category
name                 category
percentage_male         int64
pokedex_number          int64
sp_attack               int64
sp_defense              int64
speed                   int64
type1                category
weight_kg               int64
generation              int64
is_legendary            int64
dtype: object

In [247]:
# create a number value in increasing order
for label,content in df.items():
    if pd.api.types.is_categorical_dtype(content):
        df[label] = pd.Categorical(content).codes + 1

abilities            int16
against_bug          int64
against_dark         int64
against_dragon       int64
against_electric     int64
against_fairy        int64
against_fight        int64
against_fire         int64
against_flying       int64
against_ghost        int64
against_grass        int64
against_ground       int64
against_ice          int64
against_normal       int64
against_poison       int64
against_psychic      int64
against_rock         int64
against_steel        int64
against_water        int64
attack               int64
base_egg_steps       int64
base_happiness       int64
base_total           int64
capture_rate          int8
classfication        int16
defense              int64
experience_growth    int64
height_m             int64
hp                   int64
japanese_name        int16
name                 int16
percentage_male      int64
pokedex_number       int64
sp_attack            int64
sp_defense           int64
speed                int64
type1                 int8
weight_kg            int64
generation           int64
is_legendary         int64
dtype: object

In [234]:
def split_data(df,col):
    ''' 
    splits data frame and returns a train, validate, 
    and test data frame stratified on churn 
    '''
    
    # split df into train_validate and test
    train_validate, test = train_test_split(df,test_size =.2, 
                                             random_state = 42,
                                             stratify = df[col])
    
    # split train_validate into train and validate
    train, validate = train_test_split(train_validate,
                                      test_size = .3,
                                      random_state = 42,
                                      stratify = train_validate[col])
                                            
    # reset index for train validate and test
    train.reset_index(drop=True, inplace=True)
    validate.reset_index(drop=True, inplace=True)
    test.reset_index(drop=True, inplace=True)
    
    return train, validate, test

In [235]:
def model_prep(train,validate,test):

    # keeping features columns
    keep_cols = ['classfication',
                 'defense',
                 'experience_growth',
                 'hp',
                 'sp_attack',
                 'sp_defense',
                 'speed',
                 'attack',
                 'defense',
                 'is_legendary']
    
    # making new data frames with only the features above
    train = train[keep_cols]
    validate = validate[keep_cols]
    test = test[keep_cols]
    
    # Split data into predicting variables (X) and target variable (y) and reset the index for each dataframe
    # creating x and y versions of train to remove the target variable
    x_train = train.drop(columns=['is_legendary'])
    y_train = train.is_legendary

    # creating x and y versions of train to remove the target variable
    x_validate = validate.drop(columns=['is_legendary'])
    y_validate = validate.is_legendary

   # creating x and y versions of train to remove the target variable
    x_test = test.drop(columns=['is_legendary'])
    y_test = test.is_legendary
    
    return x_train, x_validate, x_test, y_train, y_validate, y_test

In [236]:
train, validate, test = split_data(df,'is_legendary')

In [237]:
x_train, x_validate, x_test, y_train, y_validate, y_test = model_prep(train,validate,test)

# Decision Tree

In [288]:
# #Use the thing
# Let's continue getting loopy, so we can compare in-sample to out-of-sample
metrics = []

for i in range(1, 20):
    # Make the model
    tree = DecisionTreeClassifier(max_depth=i, random_state=42)

    # Fit the model (on train and only train)
    tree = tree.fit(x_train, y_train)

    # Use the model
    # We'll evaluate the model's performance on train, first
    in_sample_accuracy = tree.score(x_train, y_train)
    
    out_of_sample_accuracy = tree.score(x_validate, y_validate)

    output = {
        "max_depth": i,
        "train_accuracy": in_sample_accuracy,
        "validate_accuracy": out_of_sample_accuracy
    }
    
    metrics.append(output)
    
df = pd.DataFrame(metrics)
df["difference"] = df.train_accuracy - df.validate_accuracy
tree_df = df

In [289]:
tree_df.sort_values('difference')

    max_depth  train_accuracy  validate_accuracy  difference
0           1        0.912946           0.911458    0.001488
1           2        0.953125           0.927083    0.026042
2           3        0.955357           0.927083    0.028274
3           4        0.973214           0.942708    0.030506
4           5        0.982143           0.932292    0.049851
5           6        0.993304           0.932292    0.061012
16         17        1.000000           0.932292    0.067708
15         16        1.000000           0.932292    0.067708
14         15        1.000000           0.932292    0.067708
13         14        1.000000           0.932292    0.067708
12         13        1.000000           0.932292    0.067708
9          10        1.000000           0.932292    0.067708
10         11        1.000000           0.932292    0.067708
17         18        1.000000           0.932292    0.067708
8           9        1.000000           0.932292    0.067708
7           8        1.000000           0.932292    0.067708
11         12        1.000000           0.932292    0.067708
18         19        1.000000           0.932292    0.067708
6           7        0.995536           0.927083    0.068452

In [276]:

def get_tree(x_train,x_validate,y_train,y_validate,md):
    
    # create classifier object
    clf = DecisionTreeClassifier(max_depth=md, random_state=42)
    
    #fit model on training data
    clf = clf.fit(x_train, y_train)
    
    # print result
    print('Decision Tree')
    print(f"Accuracy of Decision Tree on train data is {clf.score(x_train, y_train)}")
    print(f"Accuracy of Decision Tree on validate data is {clf.score(x_validate, y_validate)}")

In [290]:
get_tree(x_train,x_validate,y_train,y_validate,md=1)

Decision Tree
Accuracy of Decision Tree on train data is 0.9129464285714286
Accuracy of Decision Tree on validate data is 0.9114583333333334

# Random Forest

In [299]:
# #Use the thing
# Let's continue getting loopy, so we can compare in-sample to out-of-sample
metrics1 = []

for i in range(1, 25):
    # Make the model
    rf = RandomForestClassifier(max_depth=i, min_samples_leaf=3, random_state=43)

    # Fit the model (on train and only train)
    rf.fit(x_train, y_train)

    # Use the model
    # We'll evaluate the model's performance on train, first
    in_sample_accuracy = rf.score(x_train, y_train)
    
    out_of_sample_accuracy = rf.score(x_validate, y_validate)

    output = {
        "max_depth": i,
        "train_accuracy": in_sample_accuracy,
        "validate_accuracy": out_of_sample_accuracy
    }
    
    metrics1.append(output)
    
df1 = pd.DataFrame(metrics1)
df1["difference"] = df1.train_accuracy - df.validate_accuracy
tree_df = df1

In [300]:
df1.sort_values('difference')

    max_depth  train_accuracy  validate_accuracy  difference
0           1        0.912946           0.911458    0.001488
1           2        0.939732           0.921875    0.012649
3           4        0.973214           0.927083    0.030506
2           3        0.970982           0.927083    0.043899
4           5        0.979911           0.932292    0.047619
16         17        0.984375           0.921875    0.052083
15         16        0.984375           0.921875    0.052083
14         15        0.984375           0.921875    0.052083
13         14        0.984375           0.921875    0.052083
12         13        0.984375           0.921875    0.052083
11         12        0.984375           0.921875    0.052083
9          10        0.984375           0.921875    0.052083
17         18        0.984375           0.921875    0.052083
8           9        0.984375           0.921875    0.052083
7           8        0.984375           0.921875    0.052083
5           6        0.984375           0.927083    0.052083
10         11        0.984375           0.921875    0.052083
18         19        0.984375           0.921875    0.052083
6           7        0.984375           0.921875    0.057292
19         20        0.984375           0.921875         NaN
20         21        0.984375           0.921875         NaN
21         22        0.984375           0.921875         NaN
22         23        0.984375           0.921875         NaN
23         24        0.984375           0.921875         NaN

In [309]:
# #Use the thing
# Let's continue getting loopy, so we can compare in-sample to out-of-sample
metrics2 = []

for i in range(1, 25):
    # Make the model
    rf = RandomForestClassifier(max_depth=i, min_samples_leaf=5, random_state=43)

    # Fit the model (on train and only train)
    rf.fit(x_train, y_train)

    # Use the model
    # We'll evaluate the model's performance on train, first
    in_sample_accuracy = rf.score(x_train, y_train)
    
    out_of_sample_accuracy = rf.score(x_validate, y_validate)

    output = {
        "max_depth": i,
        "train_accuracy": in_sample_accuracy,
        "validate_accuracy": out_of_sample_accuracy
    }
    
    metrics2.append(output)
    
df2 = pd.DataFrame(metrics2)
df2["difference"] = df1.train_accuracy - df.validate_accuracy
forest2   = df2

In [310]:
forest2.sort_values('difference')

    max_depth  train_accuracy  validate_accuracy  difference
0           1        0.912946           0.911458    0.001488
1           2        0.941964           0.916667    0.014881
3           4        0.973214           0.927083    0.030506
4           5        0.970982           0.932292    0.038690
5           6        0.970982           0.932292    0.038690
2           3        0.966518           0.927083    0.039435
16         17        0.973214           0.932292    0.040923
15         16        0.973214           0.932292    0.040923
14         15        0.973214           0.932292    0.040923
13         14        0.973214           0.932292    0.040923
12         13        0.973214           0.932292    0.040923
9          10        0.973214           0.932292    0.040923
10         11        0.973214           0.932292    0.040923
17         18        0.973214           0.932292    0.040923
8           9        0.973214           0.932292    0.040923
7           8        0.973214           0.932292    0.040923
11         12        0.973214           0.932292    0.040923
18         19        0.973214           0.932292    0.040923
6           7        0.973214           0.932292    0.046131
19         20        0.973214           0.932292         NaN
20         21        0.973214           0.932292         NaN
21         22        0.973214           0.932292         NaN
22         23        0.973214           0.932292         NaN
23         24        0.973214           0.932292         NaN

In [326]:
def get_forest(x_train,x_validate,y_train,y_validate,md):
    
    '''get random forest accuracy on train and validate data'''

    # create model object and fit it to training data
    rf = RandomForestClassifier(max_depth=md, random_state=123)
    rf.fit(x_train,y_train)

    # print result
    print('Random Forest')
    print(f"Accuracy of Random Forest on train is {rf.score(x_train, y_train)}")
    print(f"Accuracy of Random Forest on validate is {rf.score(x_validate, y_validate)}")

In [328]:
get_forest(x_train,x_validate,y_train,y_validate,1)

Random Forest
Accuracy of Random Forest on train is 0.9129464285714286
Accuracy of Random Forest on validate is 0.9114583333333334

# Linear Regression

In [335]:
def get_reg(x_train,x_validate,y_train,y_validate,sol):
    
    '''get logistic regression accuracy on train and validate data'''

    # create model object and fit it to the training data
    logit = LogisticRegression(solver=sol)
    logit.fit(x_train, y_train)

    # print result
    print('Logistic Regression')
    print(f"Accuracy of Logistic Regression on train is {logit.score(x_train, y_train)}")
    print(f"Accuracy of Logistic Regression on validate is {logit.score(x_validate, y_validate)}")

In [336]:
get_reg(x_train,x_validate,y_train,y_validate,'lbfgs')

Logistic Regression
Accuracy of Logistic Regression on train is 0.8950892857142857
Accuracy of Logistic Regression on validate is 0.9010416666666666

In [339]:
get_reg(x_train,x_validate,y_train,y_validate,'liblinear')

Logistic Regression
Accuracy of Logistic Regression on train is 0.9040178571428571
Accuracy of Logistic Regression on validate is 0.90625